legend 
{
    background-color: #00074ecc;
    color: #fff;
    padding: 5px 10px;
}
.leg
{
    margin-left: calc(40% - 35px - 8px);
}
body
{
    margin: auto;
    width: 60%;
    border: 3px solid #00074ecc;
    padding: 10px;
    background-image:url(https://th.bing.com/th/id/R.caa035b28a4ebc614a95abf833212809?rik=uQuHeX1II71SEA&pid=ImgRaw&r=0);
}
input 
{
    margin: 10px;
    text-align: center;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
}
fieldset
{
    background-color: #c4c9f52a;
}
label
{
    font-size: x-large;
    font-family: fantasy;
}
button
{
    background-color: #00074ecc;
    color: #ffffff;
    margin-left: calc(48% - 35px - 8px);
    width: 160px;
    height: 80px;
    font-size: x-large;
    font-family: fantasy;
}
img {
    display: block;
    margin: 0 auto;
  }
